@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  background-image: url("../public/chain_reaction.png") ;
  background-size: cover;
}



